html,
body {
	height: 100%;
	position: relative;
}
body {
	color: #85A3C8;
	font-family: sans-serif;
}
body p {
	margin: 8px;
}
a {
	color: #337ab7;
	text-decoration: underline;
}
a.resort_name {
	text-decoration: none;
}
br {
	display: block;
	line-height: 1.5em;
}
#container-fluid {
	min-height: 100%;
	position: relative;
}
#inner_container {
	margin-bottom: 20px;
	min-height: 400px;
}
#skis_logo {
	margin-left: -5px;
	margin-right: -5px;
	width: 5vw;
}
h1#logo_pr {
	bottom: 0px;
	color: rgba(108, 144, 189, .65);
	font-size: 8vw;
	font-weight: bold;
	left: 11vw;
	position: absolute;
}
h2 {
	font-family: sans-serif;
	font-size: 3vw;
	font-weight: normal;
	margin-bottom: 5px;
	margin-left: 10.5%;
	margin-top: 5px;
}
h3 {
	margin-left: 8px;
	margin-top: 10px;
}
#banner_img {
	background-image: url("../images/stock/boarding.jpg");
	background-position-x: 0px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 426px;
	width: 100%;
}
label {
	font-weight: normal;
}
#sort_bar,
#footer_bar {
	background-color: #85A3C8;
	color: #fff;
	font-size: 16px;
	min-height: 30px;
	padding: 10px;
	padding-bottom: 2px;
	padding-left: 11%;
	padding-top: 2px;
}
#footer_bar p {
	font-size: 13px;
}
#sort_by_p {
	display: block;
}
#sort_bar p {
	color: #fff;
}
#sort_bar .sort_link {
	color: #633737;
	cursor: pointer;
	margin-right: 15px;
	moz-user-select: none;
	ms-user-select: none;
	text-decoration: underline;
	user-select: none;
	webkit-user-select: none;
}
#sort_bar .sort_link_selected {
	color: #C9FF70;
}
#sort_bar .sort_triangle {
	font-size: 60%;
}
.btn {
	background-color: #85A3C8;
}
#resorts_results_div {
	float: none;
	margin: auto;
	padding-bottom: 20px;
	width: 80%;
}
.map_thumbnail {
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
}
.map_thumbnail img {
	max-height: 150px;
	max-width: 150px;
}
.resort_snippet {
	font-size: 16px;
	padding: 10px;
}
.resort_snippet:nth-child(even) {
	background-color: aliceblue;
}
.resort_snippet:nth-child(odd) {
	background-color: #fff;
}
.resort_snippet_text {
	float: left;
	position: relative;
	top: -10px;
}
img.resort_logo_img {
	height: 30px;
	margin-right: 3px;
	position: relative;
	top: -3px;
	width: 30px;
}
img.weather_icon {
	height: 40px;
	width: 40px;
}
a.rates_url {
	border-left: 1px solid #85A3C8;
	color: #337ab7;
	padding-left: 12px;
}
span.report:not(:first-child) {
	padding-left: 12px;
}
span.report {
	padding-right: 12px;
}
.report,
.full_address {
	border-right: 1px solid #85A3C8;
}
.vert,
.toggle_widget_link,
.rates_junior {
	border-right: none;
}
.contact_info {
	margin-left: 0px;
	margin-top: 10px;
}
.weather_report {
	left: -10px;
	margin-top: 10px;
	position: relative;
}
.weather_report span {
	margin-right: 23px;
}
.stats_report {
	color: #633737;
}
.toggle_widget_link {
	color: #633737;
	cursor: pointer;
	padding-left: 0px;
	position: relative;
	text-decoration: underline;
	top: 7px;
}
.full_address {
	left: -4px;
	padding-right: 10px;
	position: relative;
	text-decoration: underline;
}
.full_address:before {
	content: url('../images/stock/map_it_icon.png');
	position: relative;
	top: 3px;
}
.clear_float {
	clear: both;
}
.conditions_widget_container {
	left: -17px;
	position: relative;
	top: 15px;
}
.conditions_widget_snowcountry_link {
	bottom: 17px;
	font-size: 14px;
	left: 150px;
	position: absolute;
}
#footer_bar {
	position: relative;
	width: 100%;
}
@media screen and (max-device-width: 800px) {
	h3 {
		font-size: 4vw;
	}
	h2 {
		font-size: 5vw;
		margin-left: 1%;
	}
	h1#logo_pr {
		font-size: 12vw;
	}
	#resorts_results_div {
		float: left;
		padding-bottom: 20px;
		width: 100%;
	}
	.resort_snippet{
		font-size: 3.6vw;
		padding-left: 1.5%;
	}
    
    #sort_bar{
            padding: 15px;
    }
	#subhead_pr {
		margin: 0px;
		padding: 5px;
		width: 100%;
	}
	img.resort_logo_img {
		height: 8vw;
		width: 8vw;
	}
	span.report {
		border-right: 0px;
		padding-right: 20px;
	}
	span.report:not(:first-child) {
		padding-left: 0px;
	}
	#footer_bar {
		padding-left: 1%;
	}
}
@media screen and (max-device-width: 700px) {
	#banner_img {
		height: 200px;
		width: 100%;
	}

}
@media screen and (max-device-width: 480px) {

	#banner_img {
		height: 150px;
		width: 100%;
	}
	.conditions_widget {
		moz-transform: scale(0.75);
		moz-transform-origin: 0 0;
		ms-zoom: 0.75;
		o-transform: scale(0.75);
		o-transform-origin: 0 0;
		webkit-transform: scale(0.75);
		webkit-transform-origin: 0 0;
	}
	.conditions_widget_container {
		height: 225px;
	}
}