/*theme color: #85A3C8  (blue) second color: #633737 (red)*/


/*
#navbar{
    background-color: #6C90BD;
    width: 100%;
    height: 30px;
}
*/


/*

@font-face {
    font-family: REIS-Regular;
    src: url(REIS-Regular.ttf);
}

*/

html,
body {
    position: relative;
    height: 100%;
}

body {
    color: #85A3C8;
    font-family: sans-serif;
}

body p {
    margin: 8px;
}

#container-fluid {
    position: relative;
    min-height: 100%;
}

#inner_container {
    margin: auto;
    width: 98%;
    min-height: 400px;
    margin-bottom: 20px;
}

h1#logo_pr {
    position: relative;
    top: 60px;
    color: rgba(108, 144, 189, .8);
    display: none;
}

h2#subhead_pr {
    font-family: sans-serif;
    font-weight: normal;
    /*    font-size: 3vw;*/
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

h3{
    margin-top: 10px;
}

#banner_img {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-image: url("../images/stock/main_logo.png");
    background-size: 100% 100%;
    background-position-x: 30px;
}

#sort_bar,
#footer_bar {
    min-height: 30px;
    background-color: #85A3C8;
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    /*    font-size: 2.2vw;*/
}

#sort_by_p{
    display: none;
}

#sort_bar p {
    color: #fff;
    text-align: center;
}


#sort_bar .sort_link {
    cursor: pointer;
    text-decoration: underline;
    color: #633737;
    margin-right: 15px;
}

.btn {
    background-color: #85A3C8;
}

@media screen and (max-device-width: 480px) {
    .btn,
    p {
        font-size: 16px;
    }
}

#resorts_results_div {
    padding-bottom: 20px;
}

.map_thumbnail {
    float: left;
}

.resort_snippet {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.resort_snippet:nth-child(even) {
    background-color: aliceblue;
}

.resort_snippet_text {
    float: left;
    margin-left: 10px;
    position: relative;
    top: -10px;
}

.resort_snippet_text p {
    margin-top: 0px;
}


img.resort_logo_img {
    margin-right: 3px;
    width: 30px;
    height: 30px;
}

img.weather_icon{
    width: 40px;
    height: 40px;
}

p.weather_report{
    margin-bottom: 0px;
    margin-left: 0px;
}

p.weather_report span{
    margin-left: 10px;
}

.trails_report {
    margin-right: 25px;
    color: #633737;
}

.trails_open{
    display: none;
}

.acres_open{
    display: none;
}

.full_address {
    position: relative;
    left: -4px;
}

.full_address:before {
    content: url('../images/stock/map_it_icon.png');
    position: relative;
    top: 3px;
}

.clear_float {
    clear: both;
}


/*
.resort_phone_number {
    color: #633737;
}
*/

#footer_bar {
    position: relative;
    width: 100%;
}